$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
html, body {
  margin: 0;
  padding-top: 10px;
  background: #FFF;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.jumbotron{
  margin-bottom: 0;
  padding-top: 10em;
  background: #F26F63;
  color: #FFF;
}

.section-header {
  padding: 10px;
  small {
    color: #FFF;
  }
}

.about {
  background: #4AA1FF;
  padding: 5em 0 5em 0;
}
.contact {
  background: #5BE85F;
  padding: 7.5em 0 7.5em 0;
}

.glyph-img {
  font-size: 7.5em;
  color: #FFD75B;
}

.well {
  color: #333;
  background: #FFF;
  border: 0;
  border-radius: 0;
  h3 {
    margin-bottom: 40px;
  }

  span {
    margin-bottom: 40px;
  }
}

footer {
  padding: 2.5em;
  background: #E84E47;
  color: #FFF;
  
  a {
    color: #FFF;
    &:hover {
      color: #FFF;
    }
  }
}
